html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* WŁASNE STYLE */
body {  
    background-color: #303030;
    color: #ffffff;
    font-family:  sans-serif;
    font-size: 62.5%;
}
.container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    height:610px;
}
.col-1{
    width:50%;
}
.col-1-title{
    width: 100%; 
}
.title{
    font-size: 6.5em;
    width: 100%;
    height:125px;
    align-items:center;
}
.col-1-nav{ 
    flex-wrap:wrap;
    height:330px;
    justify-content: space-between;
}
.tile1, .tile2{
    height:150px;
     width:48.5%;
    background-color: #3095d3;
    text-align: center; 
    overflow: hidden;
    position: relative;
}
.tile1:hover, .tile2:hover{
    background-color: #2084c2;
}
.tile3 {
    background-color: #666666;
}
.tile3:hover {
    background-color: #555555;
}
.tile4 {
    background-color: #93c748;
}
.tile4:hover {
    background-color: #82b637;
}
.tile3, .tile4 {
    height:150px;
    width:48.5%;
    text-align: center;
    overflow: hidden;
    position:relative;
}
.tile5{
    height:142px;
    background-color: #ee5a32;  
    text-align: center;
    padding:0 20px;
}
.tile5-text{
    margin:auto auto;
}
.col-2{
    width: 50%; 
}
#watch{
    font-size: 6.5em;
    width: 100%;
    height:125px;
    display: flex;
    align-items:center;
    justify-content:flex-end;
}
.tile6{
    height:315px;
    background-color: #666666;
    text-align: justify;
    line-height: normal;
    padding:0 20px;
}
.tile6-text{
    padding:10px;
}
.tile6 h4 {
    margin: 3px;
    font-size: 2em;
    font-weight: bold;
    padding-top:10px;
}
.tile6 p{
    padding-top:10px;
}
.socialmedia{
    justify-content:space-between;
    display:flex;
    flex-wrap:wrap;
    margin-top:15px;  
}
.yt{
    width:22%;
    background-color: #d94348;
}
.yt:hover {
    background-color: #c83237;
}
.gplus{
    width:22%; 
    background-color: #d95333;
}
.gplus:hover {
    background-color: #c84222;
}
.tw{
    width:22%;
    background-color: #3095d3;
}
.tw:hover {
    background-color: #2084c2;
}
.fb{
    width:22%;    
    background-color: #4668b3;
}
.fb:hover {
    background-color: #3557a3;
}
.footer{
    width: 50%;
    margin: 0 auto;
    height:80px;
    margin-top:35px;
    text-align: center;
    line-height:normal;
}
.inner-padding{
    padding: 10px;
}
.flex{
    display: flex;
}
p{
    font-size:1.2rem;
}
/*OVERLAY*/
.overlay {
    position: absolute;
    opacity: 1;
    transition: all 0.16s ease-in-out;
    top:150px;
}
.overlayBottom {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
    position: absolute;
}
.text-overlay {
    font-size:1.7em;
    position: absolute;
    color: white;
    transform: translate(-50%,-100%);
    top: 50%;
    left: 50%;
}
.tile3 .text-overlay, .tile4 .text-overlay {
    position:relative;
    top: 40%;
}
.tile1:hover .overlayBottom, .tile2:hover .overlayBottom {
    height: 40%;
    opacity: 1;
    transform: translateY(-75%);
}
.tile3:hover .overlayBottom, .tile4:hover .overlayBottom {
    height: 50%;
    opacity: 1;
    transform: translateY(-65%);
}
a.sociallink {
    color:#ffffff;
    text-decoration: none; 
    display: block;
    width: 100%;
    height: 142px;
}
a.tilelink {
    color:#ffffff;
    text-decoration: none; 
    display: block;
    width: auto;
    height: 142px;
}
/*RWD*/
@media screen and (min-width:800px) and (max-width: 1000px){
    .container{width:95%;}
    #watch, .title {font-size:3.2rem;}
    .col-1-nav i:before {font-size: 4.5rem !important;margin-top:40px;}
    .col-2{width:60%;}  
    .socialmedia i:before {font-size: 4rem !important;padding:7px;}
    .footer{width:80%;font-size:8px;margin-top:10px;}
    p{font-size:16px;}
    h4{font-size:16px;text-align:center;}
}
@media screen and (min-width:650px) and (max-width: 800px){
    .container{width:90%;}
    #watch, .title {font-size:3.2rem;}
    .col-1-nav  i:before {font-size: 4rem !important;margin-top:40px;}
    .tile5 {height:120px;}
    .col-2{width:60%;} 
    .socialmedia {height:120px;}
    .socialmedia i:before {font-size: 3.4rem !important;}
    .footer{width:80%;font-size:8px;margin-top:10px;}
    p{font-size:16px;}
    h4{font-size:16px;text-align:center;}
}
@media screen and (min-width:501px) and (max-width:650px) {
    .container{width:90%;}
    #watch, .title {font-size:2.4rem;}
    .col-1{width:50%;} 
    .col-1 i:before {font-size: 6em !important;padding-top:18px;}
    .tile5 {height:105px;}
    .tile6 h4{font-size:14px;text-align:center;}   
    .socialmedia {height:105px;}
    .socialmedia  i:before {font-size: 4em !important;padding:1px;}
    .footer{width:70%;font-size:8px;margin-top:15px;}
    .icon-mail-alt:before {font-size:0.8rem !important;}
    p{font-size:14px;}
}
@media screen and (max-width:500px){
    .container{flex-wrap:wrap;width:100vw;justify-content:center;}
    #watch, .tile5 {display:none;}
    .col-1-title{font-size:5px;height:17%;}
    .title{margin-top:10px;display:block;text-align:center;}
    .col-1-nav {height:260px;}
    .col-1 i:before {font-size: 4rem !important;}
    .icon-mail{display:block;margin-top:-10px;}
    .icon-facebook-2{display:block;margin-top:-10px;}
    .tile1, .tile2, .tile3, .tile4 {height:120px;}
    .tile1:hover .overlayBottom, .tile2:hover .overlayBottom {height: 45%;opacity: 1;transform: translateY(-115%);}
    .tile3:hover .overlayBottom, .tile4:hover .overlayBottom {height: 50%;opacity: 1;transform: translateY(-100%);}
    .col-2{width:50%;height:50%;}
    .tile6{height:200px;font-size:10px;margin-top:-85px;}
    .tile6 p{font-size:12px;}
    .tile6 h4{font-size:0.7rem;text-align:center;}
    .socialmedia{height:90px;}
    .socialmedia i:before { font-size: 3rem !important;margin-top:25px;}
    .footer{width:50%;font-size:0.3rem;margin-top:50px;}
    .icon-mail-alt:before {font-size:0.5rem !important;}
    p{font-size:9px;}
    h4{font-size:0.8rem;}
}